{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'guide/css/styles.css' %}" rel="stylesheet">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!--	<link rel="shortcut icon" href="{% static 'guide/images/.png' %}" type="image/x-icon">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% block mainmenu %}
{% endblock mainmenu %}

{% block content %}
{% endblock %}

</body>
</html>